body {
  width: 960px;
  margin-left: auto;
  margin-right: auto; }

#notice {
  float: right;
  margin: 5px 10px 0px 0px; }

.handle {
  cursor: move; }

.troop-types {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

.troop-type {
  background-color: #aabbaa;
  float: left;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px; }
  .troop-type h3 {
    margin: 5px auto; }
  .troop-type ul {
    list-style-type: none;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 20px;
    width: 280px; }
    .troop-type ul li {
      background: #dddddd;
      margin: 10px 0px;
      padding: 5px;
      width: 250px; }

.troop h4 {
  margin: 0px; }
.troop .count {
  display: inline; }
.troop .name {
  display: inline; }
.troop .delete {
  float: right; }
.troop .options h5 {
  margin: 5px 0px 0px 0px; }
.troop .options ul {
  height: auto;
  list-style-type: disc; }
  .troop .options ul li {
    width: 150px;
    padding: 0px;
    margin: 0px; }
