.troop-types ul {
  list-style-type: none; }
.troop-types li {
  background: #dddddd;
  margin: 10px 0px;
  padding: 5px;
  width: 250px; }

.troop .count {
  display: inline; }
.troop .name {
  display: inline; }
.troop .delete {
  float: right; }
.troop .options h5 {
  margin: 5px 0px 0px 0px; }
.troop .options ul {
  list-style-type: disc; }
  .troop .options ul li {
    width: 150px;
    padding: 0px;
    margin: 0px; }
