.troop-types ul {
  list-style-type: none; }
.troop-types li {
  background: #dddddd;
  margin: 10px 0px;
  padding: 5px;
  width: 250px; }

.troop .count {
  display: inline; }
.troop .name {
  display: inline; }
