body
  width: 960px
  margin-left: auto
  margin-right: auto

#notice
  float: right
  margin: 5px 10px 0px 0px

.handle
  cursor: move

.troop-types
  list-style-type: none
  margin: 0px
  padding: 0px

.troop-type
  background-color: #ABA
  float: left
  margin: 5px
  padding: 5px
  border-radius: 5px
  -moz-border-radius: 5px

  h3
    margin: 5px auto

  ul
    list-style-type: none
    height: 300px
    overflow-y: auto
    overflow-x: hidden
    padding-left: 20px
    width: 280px
    li
      background: #DDD
      margin: 10px 0px
      padding: 5px
      width: 250px

.troop
  h4
    margin: 0px
  .count
    display: inline
  .name
    display: inline
  .delete
    float: right
  .options
    h5
      margin: 5px 0px 0px 0px
    ul
      height: auto
      list-style-type: disc
      li
        width: 150px
        padding: 0px
        margin: 0px
