- content_for :javascripts do
  = javascript_include_tag 'underscore'
  = javascript_include_tag 'backbone'

:javascript
  $(function() { 
    var TroopType = Backbone.Model.extend({});

    var TroopTypeList = Backbone.Collection.extend({
      model: TroopType,
      url: '/troop_types'
    });

    var Troop = Backbone.Model.extend({});

    var TroopList = Backbone.Collection.extend({
      model: Troop,
      url: '/troops'
    });

    window.troop_types = new TroopTypeList;

    window.troops = new TroopList;

    var TroopTypeView = Backbone.View.extend({
      tagName: "li",
      template: _.template($('#troop-type-template').html()),

      initialize: function() {
        this.model.view = this;
      },

      render: function(){
        $(this.el).html(this.template(this.model.toJSON()));
        this.setContent();
        return this;
      },

      setContent: function() {
        var name = this.model.get('name');
        var id = this.model.get('id');
        this.$('.troop-type-name .name').text(name);
        this.$('.troop-type-name .edit').attr('href', '/troop_types/' + id + '/edit');

        this.$('.troop-type').data('id', id);
      }
    });

    var TroopView = Backbone.View.extend({
      tagName: "li",
      template: _.template($('#troop-template').html()),

      initialize: function() {
        this.model.view = this;
      },

      render: function(){
        $(this.el).html(this.template(this.model.toJSON()));
        this.setContent();
        return this;
      },

      setContent: function() {
        var name = this.model.get('name');
        var id = this.model.get('id');
        var troop_type = this.model.get("troop_type_id");
        var points = this.model.get("base_points");

        this.$('.troop-name .name').text(name);
        this.$('.troop-content .name').text(name);
        this.$('.troop-content .edit').text("Edit " + name);
        this.$('.troop-content .points').text(points + " pts");
      }
    });

    var AppView = Backbone.View.extend({
      el: $("#troopapp"),

      initialize: function() {
        troop_types.bind('refresh', this.addAll);

        troops.fetch();
        troop_types.fetch();
      },

      addAll: function() { 
        troop_types.each(function(troop_type) { 
          var view = new TroopTypeView({model: troop_type});
          this.$("ul.troop-types").append(view.render().el);

          var troop_type_troops = troops.select(function(troop){
            return troop.get('troop_type_id') == troop_type.get('id');
          });

          troop_type_troops.forEach(function(troop){
            var troopView = new TroopView({model: troop});
            var troopElement = troopView.render().el;

            $(troopElement).attr("class", "troop");

            view.$('.troop-type ul.troops').append(troopElement);
          });
        });
      }
    });

    window.App = new AppView;
  });

#troopapp
  %script(type="text/template" id="troop-type-template")
    .troop-type
      %h3.troop-type-name
        %span.name
        %a.edit Edit
        %a.delete X
      %ul.troops

  %script(type="text/template" id="troop-template")
    %h4.troop-name
      %span.name
    .troop-content
      .name
      .edit
      .points
      .options
        %h5 Options

  %ul.troop-types#troop-type-sort
    -#%li.troop-type
